<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pull-left">
                <nav class="csea-nav">
                    <strong>CSEA</strong>
                    <a href="/blog">Announcements</a>
                    <a href="/team">Meet The Team</a>
                    <a href="/about">About Us</a>
                </nav>
                <nav class="social-nav">
                    <strong>Social Media</strong>
                    <a href="https://www.facebook.com/csea.auc/">Facebook</a>
                </nav>
                <p class="email">csea@aucegypt.edu</p>
            </div>
            <div class="col-md-6 pull-right copyright">
                <div class="footer-logo-container">
                    <img src="../assets/img/CSEAlogo%20Transparent.png" alt="CSEA Logo">
                </div>
                <small>© CSEA &bull; 2016</small>
            </div>
        </div>
    </div>
</footer>
