<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <nav class="csea-nav">
                    <strong>CSEA</strong>
                    <a href="/blog">Announcements</a>
                    <a href="/team">Meet The Team</a>
                    <a href="/about">About Us</a>
                </nav>
                <nav class="social-nav">
                    <strong>Social Media</strong>
                    <a href="https://www.facebook.com/csea.auc/">Facebook</a>
                </nav>
                <a href="mailto:{{ site.author.email }}" title="Email me">{{ site.author.email }}</a>
            </div>
            <div class="col-xs-6 copyright">
                <div class="footer-logo-container">
                    <p>&lt;CSEA&gt;</p>
                    <!--<img src="/../assets/img/CSEAlogo%20Transparent.png" alt="CSEA Logo">-->
                </div>
                <small>© CSEA &bull; 2016</small>
            </div>
        </div>
    </div>
</footer>
