img {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  max-width: 100%;
}
