p {
  line-height: 1.5;
  margin: 10px 0 20px 0;
}

p a {
  /* text-decoration: underline */
  color: #008AFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  color: #008AFF;
}

a:hover,
a:focus {
  color: #b71137;
}

blockquote {
  color: #808080;
  font-style: italic;
}

blockquote p:first-child {
  margin-top: 0;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border: 4px inherit;
  border-radius: 3px;
}
