h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

p {
    font-family: 'Raleway', serif;
    line-height: 1.5;
    margin: 10px 0 20px 0;
}

a {
    color: $link;
    &:hover, &:focus {
        color: $link_hover;
    }
}

blockquote {
    color: $blockquote;
    font-style: italic;

    p:first-child {
        margin-top: 0;
    }
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border: 2px solid $light_black;
    border-radius: 3px;
}
