$white: #EEEEEE !default;
$light_grey: #808080 !default;
$light_black: #404040 !default;
$blue: #008AFF !default;

$navbar: darken($white, 5%) !default;

$text: $light_black !default;
$body: $white;
$post_title: $light_black !default;
$post_title_hover_color: darken($blue, 10%) !default;
$post_meta: $light_grey !default;

$selection: $white !default;
$selection_background: $blue !default;

$footer_background: #222 !default;

$link: $blue !default;
$link_hover: lighten($link, 5%) !default;

$blockquote: $light_grey !default;