---
common-css:
  - "/assets/css/bootstrap/bootstrap.min.css"
  - "/assets/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
common-googlefonts:
  - "Raleway"
  - "Playfair+Display"
  - "Lato"
common-js:
  - "/assets/js/jquery/jquery-1.11.2.min.js"
  - "/assets/js/bootstrap/bootstrap.min.js"
  - "/assets/js/main.js"
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
  
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
  
    {% include footer-scripts.html %}
  
  </body>
</html>
